Empty properties and second homes

In [1]:
from gssutils import *

scraper = Scraper('https://www2.gov.scot/Topics/Statistics/Browse/Housing-Regeneration/HSfS/LTemptysecondhomes/EmptySecondhometables')
scraper

## Empty properties and second homes

### Description

Information on empty properties and second homes is collected each year from
Local Authorities through the CTAXBASE data collection. Empty properties are
of particular interest as they can help increase the supply of housing in
Scotland when brought back into use.

Data presented is for:

  * **Unoccupied Exemptions:** generally properties which are empty and unfurnished for less than 6 months and exempt from paying council tax.

  * **Long Term Empty Properties:** properties which have been empty for more than 6 months and are liable for council tax.

  * **Second Homes:** homes which are furnished and lived in for at least 25 days in a 12 month period but not as someone’s main residence.



### Distributions

1. Long term empty and second home web tables  ([application/vnd.openxmlformats-officedocument.spreadsheetml.sheet](https://www2.gov.scot/Resource/0054/00543818.xlsx))

In [2]:
tabs = {tab.name: tab for tab in scraper.distribution().as_databaker()}
tabs.keys()

dict_keys(['Contents', 'Second Homes & Empty properties', 'Unoccupied exemptions', 'Summary table', 'Long term empty discount'])

In [3]:
tabs = scraper.distribution().as_databaker()

In [4]:
tab = next(t for t in tabs if t.name=='Second Homes & Empty properties')
cell = tab.filter(contains_string('2005'))
year = tab.filter(contains_string('Scotland')).shift(0,-1).fill(RIGHT)\
        .is_not_blank().is_not_whitespace()
observations = year.fill(DOWN).is_not_blank().is_not_whitespace().is_number() - year
area = cell.fill(DOWN).is_not_blank().is_not_whitespace() - cell

In [5]:
Dimensions = [
            HDim(year,'Year',DIRECTLY,ABOVE),
            HDim(area,'Geography',DIRECTLY,LEFT),
            HDim(cell,'Tenure',CLOSEST,ABOVE),
            HDimConst('Measure Type', 'Count'),
            HDimConst('Unit', 'dwellings')
            ]
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
table = c1.topandas()

In [6]:
table['Tenure'] = table['Tenure'].map(
    lambda x: {
        'Second Homes and long term empty1 properties, 2005 - 2018' : 'second-homes-and-long-term-empty-properties/total',
       'Long term empty1 properties, 2005 - 2018' : 'second-homes-and-long-term-empty-properties/long-term-empty-properties',
       'Second Homes, 2005 - 2018' : 'second-homes-and-long-term-empty-properties/second-homes'
        }.get(x, x))

In [7]:
table['Period'] = 'year/' + table['Year'].astype(str).str[0:4]

In [8]:
import numpy as np
table['OBS'].replace('', np.nan, inplace=True)
table.dropna(subset=['OBS'], inplace=True)
table.rename(columns={'OBS': 'Value'}, inplace=True)
table['Value'] = table['Value'].astype(int)

In [9]:
table['Geography'] = table['Geography'].str.rstrip('12345678')
table['Geography'] = table['Geography'].str.strip()

In [10]:
scotland_gss_codes = pd.read_csv('scotland-gss.csv', index_col='Area')
table['Geography'] = table['Geography'].map(
    lambda x: scotland_gss_codes.loc[x]['Code']
)

In [11]:
table = table[['Period','Geography','Tenure','Measure Type','Value','Unit']]

In [12]:
tidy = pd.DataFrame()
tidy = pd.concat([tidy , table])

In [13]:
tab1 = next(t for t in tabs if t.name=='Unoccupied exemptions')
year1 = tab1.filter(contains_string('SCOTLAND')).shift(0,-1).fill(RIGHT).is_not_blank().is_not_whitespace()
observations1 = year1.fill(DOWN).is_not_blank().is_not_whitespace().is_number() - year1
area1 = tab1.filter(contains_string('SCOTLAND')).expand(DOWN).is_not_blank().is_not_whitespace()

In [14]:
Dimensions1 = [
            HDim(year1,'Year',DIRECTLY,ABOVE),
            HDim(area1,'Geography',DIRECTLY,LEFT),
            HDimConst('Tenure','second-homes-and-long-term-empty-properties/unoccupied-exemptions'),
            HDimConst('Measure Type', 'Count'),
            HDimConst('Unit', 'dwellings')
            ]
c2 = ConversionSegment(observations1, Dimensions1, processTIMEUNIT=True)
table1 = c2.topandas()

In [15]:
table1['Period'] = 'year/' + table1['Year'].astype(str).str[0:4]

In [16]:
import numpy as np
table1['OBS'].replace('', np.nan, inplace=True)
table1.dropna(subset=['OBS'], inplace=True)
table1.rename(columns={'OBS': 'Value'}, inplace=True)
table1['Value'] = table1['Value'].astype(int)

In [17]:
table1['Geography'] = table1['Geography'].map(
    lambda x: {
        'SCOTLAND' : 'Scotland',
        'Glasgow' : 'Glasgow City'
        }.get(x, x))

In [18]:
scotland_gss_codes = pd.read_csv('scotland-gss.csv', index_col='Area')
table1['Geography'] = table1['Geography'].map(
    lambda x: scotland_gss_codes.loc[x]['Code']
)

In [19]:
table1 = table1[['Period','Geography','Tenure','Measure Type','Value','Unit']]

In [20]:
tidy = pd.concat([tidy , table1])

In [21]:
out = Path('out')
out.mkdir(exist_ok=True)
tidy.drop_duplicates().to_csv(out / 'observations.csv', index = False)

In [22]:
scraper.dataset.family = 'housing'
scraper.dataset.theme = THEME['housing-planning-local-services']
with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())
    
schema = CSVWSchema('https://ons-opendata.github.io/ref_housing/')
schema.create(out / 'observations.csv', out / 'observations.csv-schema.json')

In [23]:
tidy

,Period,Geography,Tenure,Measure Type,Value,Unit
0,year/2005,S92000003,second-homes-and-long-term-empty-properties/total,Count,55155,dwellings
1,year/2006,S92000003,second-homes-and-long-term-empty-properties/total,Count,52823,dwellings
2,year/2007,S92000003,second-homes-and-long-term-empty-properties/total,Count,55385,dwellings
3,year/2008,S92000003,second-homes-and-long-term-empty-properties/total,Count,57820,dwellings
4,year/2009,S92000003,second-homes-and-long-term-empty-properties/total,Count,59229,dwellings
5,year/2010,S92000003,second-homes-and-long-term-empty-properties/total,Count,62600,dwellings
6,year/2011,S92000003,second-homes-and-long-term-empty-properties/total,Count,64606,dwellings
7,year/2012,S92000003,second-homes-and-long-term-empty-properties/total,Count,66053,dwellings
8,year/2013,S92000003,second-homes-and-long-term-empty-properties/total,Count,63061,dwellings
9,year/2014,S92000003,second-homes-and-long-term-empty-properties/total,Count,59763,dwellings
10,year/2015,S92000003,second-homes-and-long-term-empty-properties/total,Count,63736,dwellings
11,year/2016,S92000003,second-homes-and-long-term-empty-properties/total,Count,61865,dwellings
12,year/2017,S92000003,second-homes-and-long-term-empty-properties/total,Count,62795,dwellings
13,year/2018,S92000003,second-homes-and-long-term-empty-properties/total,Count,64017,dwellings
14,year/2005,S12000033,second-homes-and-long-term-empty-properties/total,Count,2707,dwellings
15,year/2006,S12000033,second-homes-and-long-term-empty-properties/total,Count,2878,dwellings
16,year/2007,S12000033,second-homes-and-long-term-empty-properties/total,Count,2759,dwellings
17,year/2008,S12000033,second-homes-and-long-term-empty-properties/total,Count,2829,dwellings
18,year/2009,S12000033,second-homes-and-long-term-empty-properties/total,Count,2986,dwellings
19,year/2010,S12000033,second-homes-and-long-term-empty-properties/total,Count,3093,dwellings
20,year/2011,S12000033,second-homes-and-long-term-empty-properties/total,Count,3372,dwellings
21,year/2012,S12000033,second-homes-and-long-term-empty-properties/total,Count,3345,dwellings
22,year/2013,S12000033,second-homes-and-long-term-empty-properties/total,Count,2780,dwellings
23,year/2014,S12000033,second-homes-and-long-term-empty-properties/total,Count,1306,dwellings
24,year/2015,S12000033,second-homes-and-long-term-empty-properties/total,Count,4065,dwellings
25,year/2016,S12000033,second-homes-and-long-term-empty-properties/total,Count,3071,dwellings
26,year/2017,S12000033,second-homes-and-long-term-empty-properties/total,Count,3784,dwellings
27,year/2018,S12000033,second-homes-and-long-term-empty-properties/total,Count,3873,dwellings
28,year/2005,S12000034,second-homes-and-long-term-empty-properties/total,Count,2832,dwellings
29,year/2006,S12000034,second-homes-and-long-term-empty-properties/total,Count,2951,dwellings
...,...,...,...,...,...,...
729,year/2012,S12000039,second-homes-and-long-term-empty-properties/un...,Count,1165,dwellings
730,year/2013,S12000039,second-homes-and-long-term-empty-properties/un...,Count,1236,dwellings
731,year/2014,S12000039,second-homes-and-long-term-empty-properties/un...,Count,716,dwellings
732,year/2015,S12000039,second-homes-and-long-term-empty-properties/un...,Count,796,dwellings
733,year/2016,S12000039,second-homes-and-long-term-empty-properties/un...,Count,927,dwellings
734,year/2017,S12000039,second-homes-and-long-term-empty-properties/un...,Count,850,dwellings
735,year/2018,S12000039,second-homes-and-long-term-empty-properties/un...,Count,803,dwellings
736,year/1996,S12000040,second-homes-and-long-term-empty-properties/un...,Count,674,dwellings
737,year/1997,S12000040,second-homes-and-long-term-empty-properties/un...,Count,658,dwellings
738,year/1998,S12000040,second-homes-and-long-term-empty-properties/un...,Count,344,dwellings
739,year/1999,S12000040,second-homes-and-long-term-empty-properties/un...,Count,321,dwellings
740,year/2000,S12000040,second-homes-and-long-term-empty-properties/un...,Count,512,dwellings
741,year/2001,S12000040,second-homes-and-long-term-empty-properties/un...,Count,537,dwellings
742,year/2002,S12000040,second-homes-and-long-term-empty-properties/un...,Count,560,dwellings
743,year/2003,S12000040,second-homes-and-long-term-empty-properties/un...,Count,451,dwellings
744,year/2004,S12000040,second-homes-and-long-term-empty-properties/un...,Count,423,dwellings
745,year/2005,S12000040,second-homes-and-long-term-empty-properties/un...,Count,598,dwellings
746,year/2006,S12000040,second-homes-and-long-term-empty-properties/un...,Count,658,dwellings
747,year/2007,S12000040,second-homes-and-long-term-empty-properties/un...,Count,588,dwellings
748,year/2008,S12000040,second-homes-and-long-term-empty-properties/un...,Count,632,dwellings
749,year/2009,S12000040,second-homes-and-long-term-empty-properties/un...,Count,795,dwellings
750,year/2010,S12000040,second-homes-and-long-term-empty-properties/un...,Count,847,dwellings
751,year/2011,S12000040,second-homes-and-long-term-empty-properties/un...,Count,835,dwellings
752,year/2012,S12000040,second-homes-and-long-term-empty-properties/un...,Count,1017,dwellings
753,year/2013,S12000040,second-homes-and-long-term-empty-properties/un...,Count,639,dwellings
754,year/2014,S12000040,second-homes-and-long-term-empty-properties/un...,Count,983,dwellings
755,year/2015,S12000040,second-homes-and-long-term-empty-properties/un...,Count,912,dwellings
756,year/2016,S12000040,second-homes-and-long-term-empty-properties/un...,Count,876,dwellings
757,year/2017,S12000040,second-homes-and-long-term-empty-properties/un...,Count,841,dwellings
758,year/2018,S12000040,second-homes-and-long-term-empty-properties/un...,Count,1033,dwellings